<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>2ta</title>
        <meta name="theme-color" content="#fff">
        <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">

        <link rel="stylesheet" href="local/styles/main.css">
    </head>
    <body>
        @@include("../blocks/modules/header/header.html")
        <main class="main-main">
            @@include("../blocks/modules/breadcrumbs/section.html")
            <div class="container">
                <div class="page-aside">
                    <div class="page-aside__aside">
                        <div class="page-aside__title">Блог 2ta</div>
                        <div class="page-aside__desc">О маркетинге влияния</div>
                        <div class="page-aside__str"></div>
                        @@include("../blocks/modules/tags-list/section.html")
                    </div>
                    <div class="page-aside__page">
                        @@include("../blocks/modules/section-head/section-head.html")
                        @@include("../blocks/modules/article-list/section.html")
                    </div>
                </div>
            </div>
        </main>
        @@include("../blocks/modules/footer/footer.html")
        <script src="local/js/main.js"></script>
    </body>
</html>