.article-detail {
    font-size: 18px;
    line-height: 32px;
    max-width: 740px;
    margin: 0 auto 60px;

    &__pict-full {
        max-width: 100vw;
        width: 100vw;
        position: relative;
        left: 50%;
        transform: translate(-50%, 0);
        display: block;
        margin: 60px 0 0;

        &-inner {
            width: 100%;
        }
    }

    @include media-breakpoint-down(md)
    {
        & {
            margin: 0 auto 32px;

            &__pict-full {
                margin: 48px 0 0;
            }
        }
    }
}

.article-detail-head {
    display: flex;
    align-items: center;
    margin: 0 0 16px;

    &__avatar {
        height: 40px;
        width: 40px;
        border-radius: 50%;
        overflow: hidden;
        margin: 0 12px 0 0;
    }
    &__words {
        display: flex;
        flex-direction: column;
        font-size: 14px;
        line-height: 20px;
    }
    &__name {
        font-weight: 500;
    }
    &__company {
        opacity: .8;
    }
}

.article-detail-times {
    font-size: 14px;
    line-height: 20px;
    opacity: .8;
    display: flex;
    align-items: center;
    margin: 0 0 16px;

    &__sep {
        height: 4px;
        width: 4px;
        background-color: var(--color-text);
        border-radius: 50%;
        margin: 0 8px;
    }
}