.container,
.container-fluid {
    width: 100%;
    padding: 0 calc($gutter / 2);

    @include media-breakpoint-down(sm)
	{
        & {
            padding: 0 calc($gutter-mobile / 2);
        }
    }
}

.container {
    margin: auto;
    max-width: 1324px;
}