.article-list {

    &__item {
        padding: 32px 0 48px;
        border-bottom: 1px solid var(--color-two);

        &:last-child {
            border: none;
        }
    }
    &__head {
        display: flex;
        font-size: 14px;
        margin: 0 0 24px;
    }
    &__avatar {
        height: 24px;
        width: 24px;
        border-radius: 50%;
        overflow: hidden;

        &-icon {
            height: 24px;
            width: 24px;
        }
    }
    &__words {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        padding: 0 0 0 8px;
        line-height: 24px;
    }
    &__name {
        margin: 0 8px 0 0;
        font-weight: 600;
    }
    &__company {
        opacity: .8;
    }
    &__times {
        font-size: 14px;
        opacity: .8;
        display: flex;
        align-items: center;
        margin: 0 0 8px;
    }
    &__sep {
        background-color: var(--color-text);
        opacity: .8;
        height: 4px;
        width: 4px;
        border-radius: 50%;
        margin: 0 8px;
    }
    &__title {
        font-size: 20px;
        font-weight: 600;
    }
    &__text {
        margin: 16px 0;
    }
    &__pict {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 0 16px;
        overflow: hidden;
    }
    &__img {
        transition: .5s;
        width: 100%;

        &:hover {
            transform: scale(1.1);
        }
    }

    @include media-breakpoint-down(sm)
	{
        &__item {
            padding: 32px 0;
        }
        &__head {
            margin: 0 0 16px;
        }
        &__text {
            overflow: hidden;
            -webkit-line-clamp: 5;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            text-overflow: ellipsis;
        }
    }
}

.article-tags {
    display: flex;
    flex-wrap: wrap;
    margin: 16px 0 0;

    &__link {
        font-size: 14px;
        height: 24px;
        align-items: center;
        display: flex;
        background-color: var(--color-one);
        padding: 0 8px;
        border-radius: 12px;
        margin: 0 8px 0 0;
        border: 1px solid var(--color-one);

        &:hover,
        &_active {
            color: var(--color-text);
            border-color: var(--color-text);
        }
    }
}