*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	font-family: sans-serif;
	line-height: 1.15;
    width: 100%;
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
	display: block;
}

body {
	margin: 0;
	font: 400 16px/1.5 'Montserrat', sans-serif;
	color: var(--color-text);
	text-align: left;
	background-color: var(--color-bg);
}

h3, h5, h6,
.h3, .h5, .h6 {
	margin: 0 0 1.5rem;
}

h1, .h1 {
	font-size: 48px;
	font-weight: 700;
	line-height: 1.25;
	margin: 0 0 3rem;
}

h2, .h2 {
	font-size: 32px;
	font-weight: 700;
	line-height: 1.25;
	margin: 2rem 0 1rem;
}

@include media-breakpoint-down(sm)
{
	h1, .h1 {
		font-size: 36px;
		font-weight: 700;
		line-height: 1.2;
	}

	h2, .h2 {
		font-size: 24px;
		line-height: 32px;
	}
}

p {
	margin: 0 0 1rem;
}

ul, ol {
	margin: 1rem 0;
    padding: 0 0 0 20px;
}

b,
strong {
	font-weight: 600;
}

small {
	font-size: 80%;
}

sub,
sup {
	position: relative;
	font-size: 75%;
	line-height: 0;
	vertical-align: baseline;
}

sub {
	bottom: -.25em;
}

sup {
	top: -.5em;
}

a {
    color: var(--color-text);
    text-decoration: none;
    outline: none;
    transition: .5s;
}

a:hover {
	color: var(--color-contrast);
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

svg {
	overflow: hidden;
	vertical-align: middle;
}

label {
    display: block;
    margin: 0;
}

button {
	border-radius: 0;
}

button:focus {
	outline: 1px dotted;
}

input,
button,
select,
optgroup,
textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    outline: none;
}

button,
input {
	overflow: visible;
}

button,
select {
	text-transform: none;
}

select {
	word-wrap: normal;
}

button:not(:disabled),
[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled) {
	cursor: pointer;
}

input[type="radio"],
input[type="checkbox"] {
	box-sizing: border-box;
	padding: 0;
}

textarea {
	overflow: auto;
	resize: vertical;
}

picture {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.position-relative {
	position: relative;
}

.main-main {
	width: 100%;
	overflow: hidden;
}